.todolist{
    color: black;
    font-family: "Encode Sans", "consolas", sans-serif;
    font-weight: bold;
    font-size: 1vw;
    z-index: 1;
    display: flex;
    margin-left: 20px;
}


#page1{
    background: linear-gradient(to left, purple, blueviolet,violet);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.box{
    height: 30vh;
    width: 40vw;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    z-index: 0;
    border-radius: 25px;
    

}
#add{
    background-color: violet;
    color: white;
    font-family: "Encode Sans", "consolas", sans-serif;
    border: none;
    font-size: 3vw;
    height: 10.8vh;
    width: 10vw;
    border-radius: 50px;
    z-index: 1;
    position: absolute;
    left: 73.5%;
    top: 55%;
    transform: translate(-50%, -50%);
    cursor: pointer;

}
.box2{
    height: 11vh;
    width: 30vw;
    background-color: grey;
    position: absolute;
    left: 48.5%;
    top: 55%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
}
.addtask{
    position: absolute;
    left: 26%;
    top: 46%;
    transform: translate(-50%, -50%);
    font-family: "Encode Sans", "consolas", sans-serif;
    font-size: 1.2vw;
    margin: 1em;
}
.checkmark{
    margin-top: 10px;
    margin-left: 30px;
    max-width: 75px;
    max-height: 75px;
    transform: translateX(-50%); 
}
.popup{
    width: 710px;
    height: 300px;
    background-color: white;
    border-radius: 30px;
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    z-index: 2;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}
.open-popup{
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}
.popup h2{
    font-family: "Encode sans", "consolas", sans-serif;
    font-size: 55px;
    margin: 30px 0 10px;
}
.popup button{
    font-size: 50px;
    margin-top: 20px;
    padding: 10px 10px;
    border: 0;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    font-family: "Encode sans", "consolas", sans-serif;
    background-color: violet;
    color: white;
}
.popup input{
    margin-top: 20px;
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 20px;
}
#close{
    color: black;
    font-weight: bold;
}
#page2{
    background: linear-gradient(to left, lightblue, lightgreen, turquoise);
}
#return{
    font-size: 35px;
    margin-top: 20px;
    padding: 10px 0;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    font-family: "Encode sans", "consolas", sans-serif;
    margin-top: 20px;
    padding: 10px 15px;
}

