.todolist{
    color: black;
    font-family: "Encode Sans", "consolas", sans-serif;
    font-weight: bold;
    font-size: 1vw;
    z-index: 1;
    display: flex;
    margin-left: 20px;
}


body{
    background: linear-gradient(to left, purple, blueviolet,violet);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.box{
    height: 30vh;
    width: 40vw;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    z-index: 0;
    border-radius: 25px;
    

}
.add{
    background-color: violet;
    color: white;
    font-family: "Encode Sans", "consolas", sans-serif;
    border: none;
    font-size: 3vw;
    height: 10.8vh;
    width: 10vw;
    border-radius: 50px;
    z-index: 1;
    position: absolute;
    left: 73.5%;
    top: 55%;
    transform: translate(-50%, -50%);

}
.box2{
    height: 11vh;
    width: 30vw;
    background-color: grey;
    position: absolute;
    left: 48.5%;
    top: 55%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
}
.addtask{
    position: absolute;
    left: 26%;
    top: 46%;
    transform: translate(-50%, -50%);
    font-family: "Encode Sans", "consolas", sans-serif;
    font-size: 1.2vw;
    margin: 1em;
}
.checkmark{
    margin-top: 10px;
    margin-left: 30px;
    max-width: 75px;
    max-height: 75px;
    transform: translateX(-50%); 
}