.todolist {
    color: black;
    font-family: "Encode Sans", "consolas", sans-serif;
    font-weight: bold;
    font-size: 1vw;
    z-index: 1;
    display: flex;
    margin-left: 20px;
}

#page1 {
    background: linear-gradient(to left, purple, blueviolet, violet);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.box {
    height: 30vh;
    width: 40vw;
    background-color: white;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    z-index: 0;
    border-radius: 25px;
}

#add {
    background-color: violet;
    color: white;
    font-family: "Encode Sans", "consolas", sans-serif;
    border: none;
    font-size: 3vw;
    height: 10.8vh;
    width: 10vw;
    border-radius: 50px;
    z-index: 1;
    position: absolute;
    right: 8%;
    top: 55%;
    transform: translateY(-50%);
    cursor: pointer;
}

.box2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 11vh;
    width: 30vw;
    background-color: grey;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    border-radius: 50px;
    padding: 0 20px;
    z-index: -1;
}

.addtask {
    font-family: "Encode Sans", "consolas", sans-serif;
    font-size: 1.2vw;
    z-index: 2;
    left: 20%;
    position: absolute;
    top: 100px;
    left: 60px;
}

.checkmark {
    margin-left: 30px;
    max-width: 75px;
    max-height: 70px;
    transform: translateX(-50%);
}

.popup {
    width: 710px;
    height: 300px;
    background-color: white;
    border-radius: 30px;
    position: absolute;
    top: -100%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.1);
    text-align: center;
    padding: 0 30px 30px;
    z-index: 2;
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popup {
    visibility: visible;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.popup h2 {
    font-family: "Encode sans", "consolas", sans-serif;
    font-size: 55px;
    margin: 30px 0 10px;
}

.popup button {
    font-size: 50px;
    margin-top: 20px;
    padding: 10px 10px;
    border: 0;
    border-radius: 30px;
    outline: none;
    cursor: pointer;
    font-family: "Encode sans", "consolas", sans-serif;
    background-color: violet;
    color: white;
}

.popup input {
    margin-top: 20px;
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 20px;
}

#close {
    color: black;
    font-weight: bold;
}

#page2 {
    background: linear-gradient(to left, lightblue, lightgreen, turquoise);
}

#return {
    font-size: 35px;
    margin-top: 20px;
    padding: 10px 0;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    font-family: "Encode sans", "consolas", sans-serif;
    margin-top: 20px;
    padding: 10px 15px;
}

li {
    font-family: "Encode sans", "consolas", sans-serif;
    font-weight: bold;
    padding: 5px;
}

#box {
    position: absolute;
    resize: horizontal;
}

#delButton {
    font-size: 25px;
    border-radius: 20px;
    border: none;
    background-color: red;
    cursor: pointer;
    font-family: "Encode sans", "consolas", sans-serif;
    font-weight: bold;
    padding: 5px 12px;
}

.delbutton {
    background-color: red;
    width: 18px;
    height: 18px;
    border: none;
    border-radius: 20px;
    padding: 3px;
    margin-left: 7px;
}

.box {
    height: 20vw;
}
